# WiFi Configuration
CONFIG_ESP_WIFI_SSID="UTP"
CONFIG_ESP_WIFI_PASSWORD="tecnologica"

# MQTT Configuration  
CONFIG_MQTT_PROTOCOL_311=y
CONFIG_LWIP_MAX_SOCKETS=16

# PWM Configuration
CONFIG_ESP_PWM_RESOLUTION_BITS=10

# Performance optimizations
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10